{% extends "retrvhome/base.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	var queryTable = $('#patent-list').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url "patent-list-json" %}",
		"bSort": false,
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		// Column Design
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "department",		"sWidth": "15%" },
			{ "mData": "name",				"sWidth": "28%",
				"fnRender": function (o, v) {
					return '<a href="#">' + v + '</a>'
				}},
			{ "mData": "inventors", 		"sWidth": "20%"},
			{ "mData": "apply_code",		"sWidth": "10%" },
			{ "mData": "apply_date",		"sWidth": "8%" },
			{ "mData": "authorize_code",	"sWidth": "11%" },
			{ "mData": "pk",				"sWidth": "8%",
				"fnRender": function (o, v) {
					return '<a href="#" title="Edit"><img src="/resources/images/icons/pencil.png" alt="Edit" /></a>'
						 + '<a href="#" class="delete" title="Delete"><img src="/resources/images/icons/cross.png" alt="Delete" /></a>'
						 + '<a href="#" title="Edit Meta"><img src="/resources/images/icons/hammer_screwdriver.png" alt="Edit Meta" /></a>';
				}}
		],
		"fnDrawCallback": function () {
			// MouseOver high-light
			$(".datatable tr").not(':first').hover(
				function () { $(this).addClass('selected-row'); }, 
				function () { $(this).removeClass('selected-row'); }
			);
		}
	});
});
</script>
{% endblock %}

{% block main_content %}

<!-- Page Head -->
<h2>专利检索</h2>
<p id="page-intro">当前检索条件：全部专利</p>

<h3>检索结果</h3>
	
<table id="patent-list" class="datatable">
	<thead>
	<tr>
<!--
		<th><input class="check-all" type="checkbox" /></th>
-->
		<th>申请部门</th>
		<th>专利名称</th>
		<th>发明人</th>
		<th>申请号</th>
		<th>申请时间</th>
		<th>授权号</th>
		<th>操作</th>
	</tr>
	</thead>
</table>

<div class="clear"></div>
					
{% endblock %}

{% block sidebar %}
<div id="sidebar" style="margin-right:10px;">
<form enctype="application/x-www-form-urlencoded" method="post" action="/patent-query"><dl class="zend_form">
	<fieldset>
		<legend>检索条件</legend>
		<hr />
		<ul id="fieldlist">
		{% for field in form %}
			<li style="background:none;">
				<label>{{ field.label }}
				{{ field }}
				</label>
			</li>
		{% endfor %}
		</ul>
		<div class="clear"></div><!-- End .clear -->
	</fieldset>
	<fieldset style="float:right;">
		<input type="submit" class="button" name="submit" id="submit" value="检索" />
		<input type="submit" class="button" name="submit" id="submit" value="重置" />
	</fieldset>
</form>
</div>
{% endblock %}
