{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.jeditable.mini.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
var retrieve_fields = {
    'department': 'select',
    'type': 'select',
    'state': 'select',
    'name': 'input',
    'inventors': 'input',
    'apply_code': 'input',
    'authorize_code': 'input'
};

function retrieveData( sSource, aoData, fnCallback ) {
    for(var field in retrieve_fields) {
        value = $(retrieve_fields[field]+"[name='" + field + "']").val();
        if (value != "")
            aoData.push({ "name": field, "value": value });
    }

    $.ajax({
        "type": "GET", 
        "url": sSource,
        "dataType": "json",
        "data": aoData,
        "cache": false,
        "success": fnCallback,
        "error": function () {
            alert( "DataTables warning: JSON data from server failed to load or be parsed. "+
                "This is most likely to be caused by a JSON formatting error." );
        }
    });
}

var queryTable;
$(document).ready(function() {
	queryTable = $('#patent-list').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url "patent-list-json" %}",
        "fnServerData": retrieveData,
		"bSort": false,
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		// Column Design
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "department",		"sWidth": "15%" },
			{ "mData": "name",				"sWidth": "25%" },
			{ "mData": "inventors", 		"sWidth": "20%" },
			{ "mData": "apply_code",		"sWidth": "10%" },
			{ "mData": "apply_date",		"sWidth": "8%"  },
			{ "mData": "authorize_code",	"sWidth": "11%" },
			{ "mData": "pk",				"sWidth": "11%"  },
		],
		"fnDrawCallback": function () {
			// MouseOver high-light
			$(".datatable tr").not(':first').hover(
				function () { $(this).addClass('selected-row'); }, 
				function () { $(this).removeClass('selected-row'); }
			);
		},
	});
});

function doSubmitQuery() {
    //$('#filter').removeClass('closed-box');
    queryTable.fnDraw();
    return false;
}
function doResetQuery() {
    $.each(retrieve_fields, function(field_name, field_type) {
        $(field_type + "[name='" + field_name + "']").val('')
    });
    queryTable.fnDraw();
    return false;
}
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利列表查询</h2>
			<p id="page-intro">快捷任务列表</p>

			<div id="filter" class="content-box{% if patent_list %} closed-box{% endif %}"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>检索条件</h3>

					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">

					<div class="tab-content default-tab" >
					
						<form action="{% url 'patent-list' %}" method="post">

							{% csrf_token %}

							<fieldset>

								<p>
									<label>
									{{ form.department.label }}
									{% if form.department.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.department }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.type.label }}
									{% if form.type.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.type }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.state.label }}
									{% if form.state.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.state }}

									</label>
								</p>

							</fieldset>
							
							<fieldset class="column-left">
								
								<p>
									<label>
										{{ form.name.label }}
										{% if form.name.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.name.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.name }}
								</p>

								<p>
									<label>
										{{ form.inventors.label }}
										{% if form.inventors.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.inventors.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.inventors }}
								</p>

							</fieldset>

							<fieldset class="column-right">

								<p>
									<label>
										{{ form.apply_code.label }}
										{% if form.apply_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.apply_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.apply_code }}
								</p>
								<p>
									<label>
										{{ form.authorize_code.label }}
										{% if form.authorize_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.authorize_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.authorize_code }}
								</p>
								
							</fieldset>

							<div class="clear"></div>

							<p>

								<input class="button" type="submit" id="search" name="search" value="检索" onclick="return doSubmitQuery();" />
								<input class="button" type="submit" id="reset" name="reset" value="重置" onclick="return doResetQuery();" />

							</p>
							
						</form>
						
					</div>
					
				</div>
				
			</div>
					

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>检索结果</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1">

						<table id="patent-list" class="datatable">
							<thead>
							<tr>
								<th>申请部门</th>
								<th>专利名称</th>
								<th>发明人</th>
								<th>申请号</th>
								<th>申请时间</th>
								<th>授权号</th>
								<th>操作</th>
							</tr>
							</thead>
						</table>

						<div class="clear"></div>
					
					</div>
					
				</div>
				
			</div>
{% endblock %}

