{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利列表查询</h2>
			<p id="page-intro">快捷任务列表</p>

			<div class="content-box closed-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>检索条件</h3>

					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">

					<div class="tab-content default-tab" >
					
						<form method="post">

							{% csrf_token %}
							
							<fieldset>
								
								<p>
									<label>
										{{ form.name.label }}*
										{% if form.name.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.name.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.name }}
								</p>
								
								<p>
									<label>
										{{ form.inventors.label }}*
										{% if form.inventors.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.inventors.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.inventors }}
									<br />
									<small>多个发明人使用全角分号"；"分隔</small>
								</p>

								<p>
									<label>
									{{ form.department.label }}*
									{% if form.department.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.department }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.type.label }}*
									{% if form.type.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.type }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.state.label }}*
									{% if form.state.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.state }}

									</label>
								</p>

							</fieldset>

							<fieldset class="column-left">

								<p>
									<label>
										{{ form.apply_code.label }}*
										{% if form.apply_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.apply_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.apply_code }}
								</p>

							</fieldset>

							<fieldset class="column-right">

								<p>
									<label>
										{{ form.apply_date.label }}*
										{% if form.apply_date.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.apply_date.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.apply_date }}
								</p>
								
							</fieldset>

							<fieldset class="column-left">

								<p>
									<label>
										{{ form.authorize_code.label }}
										{% if form.authorize_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.authorize_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.authorize_code }}
								</p>

							</fieldset>

							<fieldset class="column-right">

								<p>
									<label>
										{{ form.authorize_date.label }}
										{% if form.authorize_date.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.authorize_date.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.authorize_date }}
								</p>

							</fieldset>

							
							<div class="clear"></div><!-- End .clear -->

							<p>

								<input class="button" type="submit" name="search" value="检索" />

							</p>
							
						</form>
						
					</div> <!-- End #tab2 -->        
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
					

			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>检索结果</h3>
					
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">全部专利</a></li> <!-- href must be unique and match the id of target div -->
						<li><a href="#tab2">已授权专利</a></li>
					</ul>
					
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
						
						{% include "common/notifymsg.html" %}

						{% if not patent_list %}
						<p>NO DATA</p>
						{% else %}
						<table>
							
							<thead>
							<tr>
								<th><input class="check-all" type="checkbox" /></th>
								<th>申请部门</th>
								<th>专利名称</th>
								<th>发明人</th>
								<th>申请号</th>
								<th>申请时间</th>
								<th>授权号</th>
								<th>操作</th>
							</tr>
								
							</thead>
						 
							<tfoot>
								<tr>
									<td colspan="6">
										<div class="bulk-actions align-left">
											<select name="dropdown">
												<option value="option1">Choose an action...</option>
												<option value="option2">Edit</option>
												<option value="option3">Delete</option>
											</select>
											<a class="button" href="#">Apply to selected</a>
										</div>
										
										<div class="pagination">
											<a href="{% if not page_obj.has_previous %}javascript:void(0){% else %}{% url 'patent-list' %}?page=1{% endif %}" title="First Page">&laquo; First</a>
											<a href="{% if not page_obj.has_previous %}javascript:void(0){% else %}{% url 'patent-list' %}?page={{ page_obj.previous_page_number }}{% endif %}" title="Previous Page">&laquo; Previous</a>
											

											{% for pid in page_obj.paginator.page_range %}
											<a href="{% url 'patent-list' %}?page={{ pid }}" class="number{% ifequal pid page_obj.number %} current{% endifequal %}" title="{{pid}}">{{pid}}</a>
											{% endfor %}

											<a href="{% if not page_obj.has_next %}javascript:void(0){% else %}{% url 'patent-list' %}?page={{ page_obj.next_page_number }}{% endif %}" title="Next page">Next &raquo;</a>

											<a href="{% if not page_obj.has_next %}javascript:void(0){% else %}{% url 'patent-list' %}?page={{ page_obj.paginator.num_pages }}{% endif %}" title="Last Page">Last &raquo;</a>
										</div> <!-- End .pagination -->
										
										<div class="clear"></div>
									</td>
								</tr>
							</tfoot>
						 
							<tbody class="endless_page_template">
								{% include page_template %}
							</tbody>
							
						</table>

						<!-- End if patent_list -->
						{% endif %}
						
					</div> <!-- End #tab1 -->
					
					<div class="tab-content" id="tab2">
					
						<form action="#" method="post">
							
							<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								
								<p>
									<label>Small form input</label>
										<input class="text-input small-input" type="text" id="small-input" name="small-input" /> <span class="input-notification success png_bg">Successful message</span> <!-- Classes for input-notification: success, error, information, attention -->
										<br /><small>A small description of the field</small>
								</p>
								
								<p>
									<label>Medium form input</label>
									<input class="text-input medium-input datepicker" type="text" id="medium-input" name="medium-input" /> <span class="input-notification error png_bg">Error message</span>
								</p>
								
								<p>
									<label>Large form input</label>
									<input class="text-input large-input" type="text" id="large-input" name="large-input" />
								</p>
								
								<p>
									<label>Checkboxes</label>
									<input type="checkbox" name="checkbox1" /> This is a checkbox <input type="checkbox" name="checkbox2" /> And this is another checkbox
								</p>
								
								<p>
									<label>Radio buttons</label>
									<input type="radio" name="radio1" /> This is a radio button<br />
									<input type="radio" name="radio2" /> This is another radio button
								</p>
								
								<p>
									<label>This is a drop down list</label>              
									<select name="dropdown" class="small-input">
										<option value="option1">Option 1</option>
										<option value="option2">Option 2</option>
										<option value="option3">Option 3</option>
										<option value="option4">Option 4</option>
									</select> 
								</p>
								
								<p>
									<input class="button" type="submit" value="Submit" />
								</p>
								
							</fieldset>
							
							<div class="clear"></div><!-- End .clear -->
							
						</form>
						
					</div> <!-- End #tab2 -->        
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->

<script type="text/javascript" src="{% static "endless_pagination/js/endless-pagination.js" %}"></script>
<script>$.endlessPaginate();</script>
<script type="text/javascript">
    $(document).ready(function() {
        // This function must be customized
        var onDelete = function(){
            $.post(this.href, function(data) {
                if (data.result == "ok"){
                    $(this).parent().parent().remove();
                    alert("删除成功");
                } else {
                    // handle error processed by server here
                    alert("删除失败：" + data.result);
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            return false;
        }

        $(".delete").click(onDelete);
    });
</script>

{% endblock %}
