{% load staticfiles %}
{% load endless %}

{% paginate patent_list %}
{% for patent in patent_list %}
<tr>
	<td><input type="checkbox" /></td>
	<td>{{ patent.department.name }}</td>
	<td><a href="{% url 'patent-detail' patent.id %}" title="点击查看详细信息">{{ patent.name }}</a></td>
	<td>{{ patent.inventors }}</td>
	<td>{{ patent.apply_code }}</td>
	<td>{{ patent.apply_date }}</td>
	<td>{% if patent.authorize_code %}{{ patent.authorize_code}}{% else %}{{patent.state}}{% endif %}</td>
	<td>
		<!-- Icons -->
		 <a href="{% url 'patent-edit' patent.id %}" title="Edit"><img src="{% static "images/icons/pencil.png" %}" alt="Edit" /></a>
		 <a href="{% url 'patent-delete' patent.id %}" class="delete" title="Delete"><img src="{% static "images/icons/cross.png" %}" alt="Delete" /></a>
		 <a href="#" title="Edit Meta"><img src="{% static "images/icons/hammer_screwdriver.png" %}" alt="Edit Meta" /></a>
	</td>
</tr>
{% endfor %}
{% show_pages %}

