{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<style type="text/css">
tr:hover td { background-color:#e0e0e0; }
</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('#patent-list').dataTable({
        "sPaginationType": "full_numbers",
        "oLanguage": oLanguage,
        "bAutoWidth": false
    });

    // Reset filter form
	$("#reset").click(function() {
		window.location.href='{% url "patent-list-fresh" %}';
		return false;
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利列表查询</h2>
			<p id="page-intro">快捷任务列表</p>

			<div id="filter" class="content-box{% if patent_list %} closed-box{% endif %}"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>检索条件</h3>

					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">

					<div class="tab-content default-tab" >
					
						<form action="{% url 'patent-list' %}" method="post">

							{% csrf_token %}

							<fieldset>

								<p>
									<label>
									{{ form.department.label }}
									{% if form.department.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.department }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.type.label }}
									{% if form.type.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.type }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.state.label }}
									{% if form.state.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.state }}

									</label>
								</p>

							</fieldset>
							
							<fieldset class="column-left">
								
								<p>
									<label>
										{{ form.name.label }}
										{% if form.name.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.name.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.name }}
								</p>

								<p>
									<label>
										{{ form.inventors.label }}
										{% if form.inventors.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.inventors.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.inventors }}
								</p>

							</fieldset>

							<fieldset class="column-right">

								<p>
									<label>
										{{ form.apply_code.label }}
										{% if form.apply_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.apply_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.apply_code }}
								</p>
								<p>
									<label>
										{{ form.authorize_code.label }}
										{% if form.authorize_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.authorize_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.authorize_code }}
								</p>
								
							</fieldset>

							<div class="clear"></div>

							<p>
								<input class="button" type="submit" id="search" name="search" value="检索" />
								<input class="button" type="submit" id="reset" name="reset" value="重置" />
							</p>
							
						</form>
						
					</div>
					
				</div>
				
			</div>
					

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>检索结果</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1">

						{% include "common/notifymsg.html" %}

						<table id="patent-list" class="datatable">
							<thead>
							<tr>
                                <th width="8%">序号</th>
								<th width="15%">申请部门</th>
								<th width="25%">专利名称</th>
								<th width="20%">发明人</th>
								<th width="8%">专利号</th>
								<th width="8%">申请时间</th>
								<th width="8%">专利状态</th>
								<th width="8%">操作</th>
							</tr>
							</thead>
							<tbody>
								{% for patent in patent_list %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ patent.department.name }}</td>
									<td><a href="{% url 'patent-detail' patent.id %}" title="点击查看详细信息">{{ patent.name }}</a></td>
									<td>{{ patent.inventors }}</td>
                                    <td>{{ patent.apply_code }}</td>
									<td>{{ patent.apply_date|date:"Y-m-d" }}</td>
									<td>{{ patent.state }}</td>
									<td>
										<a href="{% url 'patent-edit' patent.id %}" title="编辑">
											<img src="{% static "images/icons/pencil.png" %}" alt="Edit" />编辑
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						<div class="clear"></div>
					
					</div>
					
				</div>
				
			</div>
{% endblock %}

