{% extends "common/mgrbase.html" %}
{% load staticfiles %}


{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<style type="text/css">
.expanded-group{
	background: url("{% static "images/minus.jpg" %}") no-repeat scroll left center transparent;
	padding-left: 15px !important
}

.collapsed-group{
	background: url("{% static "images/plus.jpg" %}") no-repeat scroll left center transparent;
	padding-left: 15px !important
}

tr:hover td {
    background-color:#e0e0e0;
}

td.group {
    background-color: #d5eafd !important;
    border-bottom: 1px solid #94bafd;
    border-top: 1px solid #94bafd;
/*
    background-color: #C0E1FF;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
*/
}

</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.jeditable.mini.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.rowGrouping.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	var queryTable = $('#patent_package_detail').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url "patent-package-detail-json" patpkg.pk %}?package={{patpkg.pk}}",
		"bSort": false,
        "bLengthChange": false,
        "bPaginate": false,
		"bFilter": false,
		"oLanguage": oLanguage,
		// Column Design
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "patent",		"sWidth": "0" },
			{ "mData": "expert",		"sWidth": "15%" },
			{ "mData": "state", 		"sWidth": "10%" },
			{ "mData": "rank",			"sWidth": "10%" },
			{ "mData": "remark",		"sWidth": "35%" },
			{ "mData": "submit_date",	"sWidth": "15%" },
			//{ "mData": "finish_date",	"sWidth": "15%"  },
			{ "mData": "pk",			"sWidth": "15%"  },
		]
	}).rowGrouping({
		iGroupingColumnIndex:0,
		bExpandableGrouping: true,
        bExpandSingleGroup: false,
		asExpandedGroups: [""]
	});;
});

/*
// Add collapsed/expanded all button
$('#patent_package_detail_wrapper').find('.datatables_filter').prepend($('<input />', {
    'type': 'button',
    'class': 'expandedOrCollapsedGroup collapsed',
    'value': 'Expand All'
}));

$('.expandedOrCollapsedGroup').live('click', function() {
    if ($(this).hasClass('collapsed')) {
        $(this).addClass('expanded').removeClass('collapsed').val('Collapse All').parents('.dataTables_wrapper').find('.collapsed-group').trigger('click');
    }
    else {
        $(this).addClass('collapsed').removeClass('expanded').val('Expand All').parents('.dataTables_wrapper').find('.expanded-group').trigger('click');
    }
});
*/
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利评价包详情</h2>
			<p id="page-intro">查看专利评价包信息详情</p>

			{% include 'common/notifymsg.html' %}

			<span class="btn btn-info" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-backward"></i>
				<span>返回列表</span>
			</span>
			{% if patpkg.finish_date %}
			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-download"></i>
				<span>导出专利包</span>
			</span>
			{% else %}
			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-ok"></i>
				<span>完成专利包</span>
			</span>
			{% endif %}

			<div class="clear"></div>

			<div class="content-box column-left">
				<div class="content-box-header">
					<h3>专利评价包信息</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1" >
						<fieldset>
							<p>名称：{{ patpkg.name }}</p>
						</fieldset>
						<fieldset class="column-left">
							<p>提交时间：{{ patpkg.submit_date }}</p>
						</fieldset>
						<fieldset class="column-right">
							<p>完成时间：{% if patpkg.finish_date %}{{patpkg.finish_date}}{% else %}进行中{% endif %}</p>
						</fieldset>
						<fieldset>
							<p>专家列表：</p>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="content-box column-right">
				<div class="content-box-header">
					<h3>专利评价包统计</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1" >
						<fieldset class="column-left">
							<p>专利数：10</p>
						</fieldset>
						<fieldset class="column-right">
							<p>专家评分数：20</p>
						</fieldset>
						<fieldset>
							<p>专家评分完成度：10/20</p>
							<p>评级报告完成度：10/20</p>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专利列表</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">

					<div class="tab-content{% if not extmode %} default-tab{% endif %}" id="tab1" >

						<table id="patent_package_detail" class="datatable">
							<thead>
							<tr>
								<th>专利名称</th>
								<th>评审专家</th>
								<th>状态</th>
								<th>专利评分</th>
								<th>专利评价</th>
								<th>提交时间</th>
								<th>操作</th>
							</tr>
							</thead>
						</table>

						<div class="clear"></div>

					</div>
				</div>
			</div>
						
{% endblock %}

