{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<style type="text/css"> tr:hover td { background-color:#e0e0e0; } </style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.jeditable.mini.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	var queryTable = $('#patent-list').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url "patent-rating-list-json" %}",
		"bSort": false,
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		// Column Design
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "department",	"sWidth": "15%" },
			{ "mData": "name",			"sWidth": "25%" },
			{ "mData": "inventors",		"sWidth": "20%" },
			{ "mData": "submit_date",	"sWidth": "15%" },
			{ "mData": "pk",			"sWidth": "8%"  }
		]
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>待评价专利管理</h2>
			<p id="page-intro">选择专利进行评价</p>

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专利列表</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1">

						{% include "common/notifymsg.html" %}

						<table id="patent-list" class="datatable">
							<thead>
							<tr>
								<th>申请部门</th>
								<th>专利名称</th>
								<th>发明人</th>
								<th>申请评价时间</th>
								<th>操作</th>
							</tr>
							</thead>
						</table>

						<div class="clear"></div>
					
					</div>
					
				</div>
				
			</div>
{% endblock %}

