{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利信息更新</h2>
			<p id="page-intro">分别更新基本信息和扩展信息</p>

    		<span class="btn btn-info" onclick="window.location.href='{{ i__next__ }}'" style="margin-bottom:18px;">
				<i class="glyphicon glyphicon-backward"></i>
				<span>返回列表</span>
			</span>
			<span class="btn btn-success" onclick="$('form:first').submit();" style="margin-bottom:18px;">
				<i class="glyphicon glyphicon-ok"></i>
				<span>提交修改</span>
			</span>

			{% include 'common/notifymsg.html' %}

			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>专利信息</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">基本信息</a></li>
                        <li><a href="#tab_file">专利文件</a></li>
                        <li><a href="#tab_brief">专利简介</a></li>
					</ul>

					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->


				<form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

					{% csrf_token %}

					<input type="hidden" name="__next__" value="{{ i__next__ }}">
				
					<div class="content-box-content">

						<div class="tab-content{% if not extmode %} default-tab{% endif %}" id="tab1" >
							
							<fieldset>
								
								<p>
									<label>
										{{ form.name.label }}*
										{% if form.name.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.name.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.name }}
								</p>
								
								<p>
									<label>
										{{ form.inventors.label }}*
										{% if form.inventors.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.inventors.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.inventors }}
									<br />
									<small>多个发明人使用全角分号"；"分隔</small>
								</p>

								<p>
									<label>
									{{ form.department.label }}*
									{% if form.department.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.department }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.type.label }}*
									{% if form.type.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.type }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									{{ form.state.label }}*
									{% if form.state.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
									{{ form.state }}

									</label>
								</p>

							</fieldset>

							<fieldset class="column-left">

								<p>
									<label>
										{{ form.apply_code.label }}*
										{% if form.apply_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.apply_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.apply_code }}
								</p>

							</fieldset>

							<fieldset class="column-right">

								<p>
									<label>
										{{ form.apply_date.label }}*
										{% if form.apply_date.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.apply_date.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.apply_date }}
								</p>
								
							</fieldset>

							<fieldset class="column-left">

								<p>
									<label>
										{{ form.authorize_code.label }}
										{% if form.authorize_code.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.authorize_code.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.authorize_code }}
								</p>

							</fieldset>

							<fieldset class="column-right">

								<p>
									<label>
										{{ form.authorize_date.label }}
										{% if form.authorize_date.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.authorize_date.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.authorize_date }}
								</p>

							</fieldset>

							<div class="clear"></div>

							<fieldset>

								{% for field in form.get_extfields %}
								<p>
									<label>
										{{ field.label }}
										{% if field.errors %}
										<span class="input-notification error png_bg">
											{% for error in field.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ field }}
								</p>
								{% endfor %}

							</fieldset>

							<div class="clear"></div>

						</div>

                        <div class="tab-content" id="tab_file" >
                            <fieldset>
								<div style="float:left;">
									<label>1. {{ form.apply_file.label }}</label>
                                    <a href="#"><img src="{% static "images/icon_pdf.png" %}" /></a>
                                    {% if object.applyfile_exist %}<a target="_blank" href="{% url 'patent-apply-file-service' object.apply_code %}">查看</a>{% else %}文件不存在{% endif %}
                                    <br/>
									{{ form.apply_file }}
                                    {% if form.apply_file.errors %}
                                     <span class="input-notification error png_bg"></span>
									{% endif %}
								</div>

								<div style="float:left;">
									<label>2. {{ form.authorize_file.label }}</label>
                                    <a href="#"><img src="{% static "images/icon_pdf.png" %}" /></a>
									{% if object.authfile_exist %}<a target="_blank" href="{% url 'patent-auth-file-service' object.apply_code %}">查看</a>{% else %}文件不存在{% endif %}
                                    <br/>
                                    {{ form.authorize_file }}
                                    {% if form.authorize_file.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
								</div>

								<div style="float:left;">
									<label>3. {{ form.rank_file.label }}</label>
                                    <a href="#"><img src="{% static "images/icon_pdf.png" %}" /></a>
									{% if object.rankfile_exist %}<a target="_blank" href="/resources/Viewer.js/index.html#{% url 'patent-rank-file-service' object.apply_code object.apply_code %}">查看</a>{% else %}文件不存在{% endif %}
                                    <br/>
                                    {{ form.rank_file }}
                                    {% if form.rank_file.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
								</div>

								<div style="float:left;">
									<label>4. {{ form.spec_file.label }}</label>
                                    <a href="#"><img src="{% static "images/icon_pdf.png" %}" /></a>
                                    {% if object.specfile_exist %}<a target="_blank" href="/resources/Viewer.js/index.html#{% url 'patent-spec-file-service' object.apply_code object.apply_code %}">查看</a>{% else %}文件不存在{% endif %}
                                    <br/>
									{{ form.spec_file }}
                                    {% if form.spec_file.errors %}
									<span class="input-notification error png_bg"></span>
									{% endif %}
								</div>
							</fieldset>
                            <div class="clear"></div>
					    </div>

                        <div class="tab-content" id="tab_brief" >
                            <fieldset>
                                <p>
                                    <small>专利简介用于专利评级时给专家提供该专利的概要信息，可以在提交专利包前进行修改。</small>
                                    {{ form.brief }}
                                </p>
                            </fieldset>
                        </div>
					</div> <!-- End .content-box-content -->
				
				</div> <!-- End .content-box -->
			</form>
						
{% endblock %}

