{% extends "rankmgr/package/base.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<style type="text/css">
tbody tr:hover td {
        background-color:#e0e0e0;
}
</style>
{% endblock %}

{% block intro %}
为专利包创建评分问卷
{% endblock %}

{% block form_content %}
{% for catalog in wizard.form.get_rank_catalog %}
<div class="content-box">
	<div class="content-box-header">
		<h3>{{ catalog.label }}</h3>
		<div class="clear"></div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1" >
		<table>
		<thead>
		<tr>
			<td>题目</td>
			<td width="15%">权重</td>
		</tr>
		</thead>
		<tbody>
		{% for item in catalog %}
		<tr>
			<td>{{ item }}</td>
			<td>
				{% for weight in wizard.form.get_item_weight %}
				{% ifequal item.choice_label weight.label %}
				{{ weight }}
				{% endifequal %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
