{% extends "rankmgr/package/base.html" %}
{% load staticfiles %}

{% block intro %}
选择要加入到专利包的专利
{% endblock %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<style type="text/css">
tr:hover td {
	background-color:#e0e0e0;
}
</style>
{% endblock %}

{% block form_content %}
{{ form.selected_patent_list }}
<div class="content-box">
	<div class="content-box-header">
		<h3>所有专利</h3>
		<div class="clear"></div>
	</div>
	
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab_all" >
			<table id="patent_list_all" class="datatable">
				<thead>
				<tr>
					<th>序号</th>
					<th>专利号</th>
					<th>专利名称</th>
					<th>所属部门</th>
					<th>专利状态</th>
					<th>发明人</th>
				</tr>
				</thead>
			</table>
			<div class="clear"></div>
		</div>
	</div>
</div>
			
<div class="content-box">
	<div class="content-box-header">
		<h3>专利包</h3>
		<div class="clear"></div>
	</div>
	
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab_selected" >
			<table id="patent_list_selected" class="datatable">
				<thead>
				<tr>
					<th>序号</th>
					<th>专利号</th>
					<th>专利名称</th>
					<th>所属部门</th>
					<th>专利状态</th>
					<th>发明人</th>
				</tr>
				</thead>
			</table>
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.rowGrouping.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	var selectedTable = $('#patent_list_selected').dataTable({
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "DT_RowId",		"sWidth": "5%" },
			{ "mData": "apply_code",	"sWidth": "10%" },
			{ "mData": "name", 		"sWidth": "30%" },
			{ "mData": "department",	"sWidth": "20%" },
			{ "mData": "state",		"sWidth": "10%" },
			{ "mData": "inventors",		"sWidth": "25%" }
		],
		"fnCreatedRow": function(nRow, aData, iDataIndex) {
			$(nRow).click( function() {
				id = $(this).attr("id");
				queryTable.find('tr[id="' + id + '"]').removeClass("selected-row");
				selectedTable.fnDeleteRow(nRow);
				selectedTable.draw();
			});
		}
	});

	var queryTable = $('#patent_list_all').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url "patent-list-json" %}",
		"bSort": false,
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		// Column Design
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "DT_RowId",		"sWidth": "5%" },
			{ "mData": "apply_code",	"sWidth": "10%" },
			{ "mData": "name", 		"sWidth": "30%" },
			{ "mData": "department",	"sWidth": "20%" },
			{ "mData": "state",		"sWidth": "10%" },
			{ "mData": "inventors",		"sWidth": "25%" }
		],
		// set click handler for each row
		"fnDrawCallback": function () {
			$(this).find("tr").not(':first').click( function() {
				var id = $(this).attr('id');
				if ($(this).hasClass('selected-row')) {
					selectedTable.fnDeleteRow(selectedTable.$('tr[id="' + id + '"]').get(0));
				}
				else {
					selectedTable.fnAddData({
						"apply_code":   $(this).find("td:eq(1)").text(),
						"name":		$(this).find("td:eq(2)").text(),
						"department":	$(this).find("td:eq(3)").text(),
						"state":	$(this).find("td:eq(4)").text(),
						"inventors":	$(this).find("td:eq(5)").text(),
						"pk":		id,
						"DT_RowId":	id
					});
				}
				$(this).toggleClass('selected-row');
			});
		},
		"fnCreatedRow": function(nRow, aData, iDataIndex) {
			if (selectedTable.$('tr[id="' + aData["DT_RowId"] + '"]').length > 0) {
				$(nRow).addClass('selected-row');
			}
		}
	});

	// Submit Form
	//$("#submit").click(function() { $("#pkgform").submit(); });
	$("#wizard_form").submit(function(event) {
		// 验证是否选择了专利，并生成专利列表
		if (selectedTable.$('tr').length <= 0) {
			alert("请选择加入到该专利包中的专利");
			preventDefault(); 
			return;
		}
		var lst = "";
		selectedTable.$('tr').each(function() { lst += $(this).attr("id") + "&"; });
		$("#{{ form.selected_patent_list.auto_id }}").val(lst);
		alert($("#{{ form.selected_patent_list.auto_id }}").val());
	});
});
</script>
{% endblock %}

