{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利评价包向导 ({{ wizard.steps.step1 }}/{{ wizard.steps.count }})</h2>
			<p id="page-intro">
				{% block intro %}{% endblock %}
			</p>

			{% include 'common/notifymsg.html' %}

			<form enctype="multipart/form-data" method="post" id="wizard_form">
				{% csrf_token %}
				{{ wizard.management_form }}

				<p>
					
					{% if wizard.steps.prev %}
					<button class="button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">上一步</button>
					{% else %}
					<button class="button" name="wizard_goto_step" disabled="true" type="submit" value="{{ wizard.steps.prev }}">上一步</button>
					{% endif %}

					{% if wizard.steps.next %}
					<input class="button" type="submit" value="下一步" />
					{% else %}
					<input class="button" type="submit" value="开始导入" />
					{% endif %}
				</p>

				{% block form_content %}
				{% endblock %}
						
			</form>
						
{% endblock %}

