{% extends "common/mgrbase.html" %}
{% load staticfiles %} {% load verbose_name %}

{% block csslink %}
{{ block.super }}
<link href='{% static "css/jquery.rating.css" %}' type="text/css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.rating.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('input[name="cancel"]').each(function () {
		$(this).click(function() {
			window.location.href='{{ i__next__ }}';
			return false;
		})
	})
})
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>软件等级评定</h2>
			<p id="page-intro">为软件评级，并填写意见</p>

			{% include 'common/notifymsg.html' %}

			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>软件信息</h3>
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->


				<form method="post">

					{% csrf_token %}

					<input type="hidden" name="__next__" value="{{ i__next__ }}">
				
					<div class="content-box-content">

						<div class="tab-content default-tab" id="tab1" >
					
							<fieldset class="column-left">
								
								<p>
									<label>{% get_verbose_field_name scr "name" %}：</label>{{ scr.name }}
								</p>
								
								<p>
									<label>{% get_verbose_field_name scr "developers" %}：</label>{{ scr.developers }}
								</p>

								<p>
									<label>{% get_verbose_field_name scr "department" %}：</label>{{ scr.department }}
								</p>

								<p>
									<label>
									{% if not scr.authorize_file %}
									<label>暂无相关证书</label>
									{% else %}
									<label>
										<a target="_blank" href="{% url 'scr-file-service' scr.authorize_code %}">
										{% get_verbose_field_name scr "authorize_file" %}
										</a>
									</label>
									{% endif %}
									</label>
								</p>
								
							</fieldset>

							<fieldset class="column-right">

								{{ form.scr }} {{ form.expert }}
								<p>
									<label>
										{{ form.rank.label }}*

										{% if form.rank.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.rank.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{% for radio in form.rank %}
										{{ radio.tag }}
									{% endfor %}
									<br />
								</p>
								
								<p>
									<label>
										{{ form.remark.label }}*
										{% if form.remark.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.remark.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.remark }}
								</p>

								<p>
									<input class="button" type="submit" name="save" value="保存" />
									<input class="button" type="submit" name="cancel" value="取消" />
								</p>

							</fieldset>

							<div class="clear"></div><!-- End .clear -->
					
						</div> <!-- End #tab1 -->

					</div> <!-- End .content-box-content -->
				
				</div> <!-- End .content-box -->
			</form>
						
{% endblock %}

