<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %} {% load nav %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Simpla Admin</title>
{% block csslink %}
<link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/invalid.css" %}" type="text/css" media="screen" />	
{% endblock %}
{% block scripts %}
<!--<script type="text/javascript" src="{% static "scripts/jquery-1.3.2.min.js" %}"></script>-->
<script type="text/javascript" src="{% static "scripts/jquery-1.9.1.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/django.jquery.configuration.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.jquery.configuration.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/facebox.js" %}"></script>
<!--<script type="text/javascript" src="{% static "scripts/jquery.wysiwyg.js" %}"></script>-->
<script type="text/javascript" src="{% static "scripts/jquery.date.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.datePicker.js" %}"></script>
{% endblock %}
{% block extcss %}
{% endblock %}

</head>
	<body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img id="logo" src="{% static "images/logo.png" %}" alt="Simpla Admin logo" /></a>
		  
			<!-- Sidebar Profile links -->
			<div id="profile-links">
				您好, <a href="#" title="Edit your profile">{{ user.username }}</a><br />
				<br />
				<a href="#" title="查看专利检索系统首页">检索首页</a> | <a href="{% url 'dashboard-logout' %}" title="退出当前登录用户">退出登录</a>
			</div>
			
			{% get_nav "main" as main %}
			<ul id="main-nav">  <!-- Accordion Menu -->
				{% for nav in main %}
				{{ nav }}
				{% endfor %}
			</ul>  <!-- End #main-nav -->

			{% block messages %}
			{% endblock %}
			
		</div></div> <!-- End #sidebar -->
		
		<div id="main-content"> <!-- Main Content Section with everything -->
			
			<noscript> <!-- Show a notification if the user has disabled javascript -->
				<div class="notification error png_bg">
					<div>
						Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
					</div>
				</div>
			</noscript>
			
			{% block main_content %}
			{% endblock %}
			
			<div class="clear"></div>
			
			<div id="footer">
				<small>
						&#169; Copyright 2014 中国科学院计算技术研究所知识产权办公室 | Powered by <a href="http://www.ict.ac.cn">科研支撑中心</a> | <a href="#">Top</a>
				</small>
			</div><!-- End #footer -->
			
		</div> <!-- End #main-content -->
	</div>
</body>
</html>
