{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<style type="text/css">
tr:hover td { background-color:#e0e0e0; }
tr td { text-align: center; }
tr th { text-align: center; }
</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#active-expert-list').dataTable({
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		"bAutoWidth": false
	});
	$('#inactive-expert-list').dataTable({
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		"bAutoWidth": false
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专家管理</h2>
			<p id="page-intro">查看专家列表，可对专家信息进行添加、修改操作</p>

			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-add" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-plus"></i>
				<span>增加专家</span>
			</span>

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专家列表</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">正常</a></li>
						<li><a href="#tab2">已停用</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				
				{% include "common/notifymsg.html" %}
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
						<table id="active-expert-list">
							<thead>
							<tr>
								<th>帐号</th>
								<th>姓名</th>
								<th>工作单位</th>
								<th>研究领域</th>
								<th>E-Mail</th>
								<th>联系电话</th>
								<th width="20%">评审统计（完成/分配）</th>
								<th>状态</th>
								<th width="20%">操作</th>
							</tr>
							</thead>
							{% if expert_list %}
							<tbody>
								{% for expert in expert_list %}
								{% if expert.is_active %}
								<tr>
									<td>{{ expert.username }}</td>
									<td>{{ expert.last_name }}{{ expert.first_name }}</td>
									<td>{{ expert.expertprofile.organization }}</td>
									<td>{{ expert.expertprofile.research_field }}</td>
									<td>{{ expert.email }}</td>
									<td>{{ expert.expertprofile.phone }}</td>
									<td>{{ expert.rating_finish }}/{{ expert.rating_total }}</td>
									<td>{% if expert.is_active %}正常{% else %}已停用{% endif %}
									<td>
										<a href="#">重置密码</a>&nbsp;|
										<a href="#">修改信息</a>&nbsp;|
										<a href="#">停用帐号</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
							{% endif %}
						</table>
					</div>
					
					<div class="tab-content" id="tab2">
						<table id="inactive-expert-list">
							<thead>
							<tr>
								<th>帐号</th>
								<th>姓名</th>
								<th>工作单位</th>
								<th>研究领域</th>
								<th>E-Mail</th>
								<th>联系电话</th>
								<th>操作</th>
							</tr>
							</thead>
							{% if expert_list %}
							<tbody>
								{% for expert in expert_list %}
								{% if not expert.is_active %}
								<tr>
									<td>{{ expert.username }}</td>
									<td>{{ expert.last_name }}{{ expert.first_name }}</td>
									<td>{{ expert.expertprofile.organization }}</td>
									<td>{{ expert.expertprofile.research_field }}</td>
									<td>{{ expert.email }}</td>
									<td>{{ expert.expertprofile.phone }}</td>
									<td>
										<a href="#">启用帐号</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
							{% endif %}
						</table>
						<div class="clear"></div>
					</div>
					
				</div>
				
			</div>
{% endblock %}

