{% extends "common/mgrbase.html" %}
{% load staticfiles %}


{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<style type="text/css">
tr:hover td { background-color:#e0e0e0; }
</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.jeditable.mini.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.rowGrouping.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    var queryTable = $('#patent_package_list').dataTable({
        "bProcessing": true,
        "bSort": false,
        "sPaginationType": "full_numbers",
        "oLanguage": oLanguage,
		// set click handler for each row
		"fnDrawCallback": function () {
			$(this).find("tr").not(':first').click( function() {
				if ($(this).hasClass('selected-row')) {
                    $(this).removeClass('selected-row');
                } else {
                    queryTable.$('tr.selected-row').removeClass('selected-row');
                    $(this).addClass('selected-row');
                }
				expertTable.fnDraw();
			});
		}
	});

    var expertTable = $('#expert_list').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url "user-list-json" %}",
        "bSort": false,
        "sPaginationType": "full_numbers",
        "oLanguage": oLanguage,
        // Column Design
        "bAutoWidth": false,
        "aoColumns": [
            { "mData": "DT_RowId",   "sWidth": "10%" },
            { "mData": "department", "sWidth": "35%" },
            { "mData": "name",       "sWidth": "20%" },
            { "mData": "email",      "sWidth": "35%" }
        ],
		"fnDrawCallback": function () {
			var selected_patent_id = queryTable.$('tr.selected-row').attr('id');
			if (selected_patent_id == undefined) 
				return;

			// 从服务器获取当前选择专利的评审专家，并在表格中标记
			$.getJSON(
				"{% url 'patent-package-patent-experts-json' patpkg.pk %}?report=" + selected_patent_id
			).done(function(json) {
				$.each(json.aaData, function (idx, aaData) {
					expertTable.find("tr[id=" + aaData.expert + "]").addClass("selected-row");
				});
			});

			// 增加点击事件
			$(this).find("tr").not(':first').click( function() {
				var selected_expert_row = $(this);
				var selected_expert_id = $(this).attr("id");
				if (selected_expert_id == undefined)
					return;

				if ($(this).hasClass('selected-row'))					// 删除专家
					var url = "{% url 'patent-package-patent-experts-del' patpkg.pk %}?patent=" + selected_patent_id + "&expert=" + selected_expert_id;
				else if (expertTable.$('tr.selected-row').length < 3) 	// 添加专家
					var url = "{% url 'patent-package-patent-experts-add' patpkg.pk %}?patent=" + selected_patent_id + "&expert=" + selected_expert_id;
				else {
					alert("同一个专利最多只能有三名评审专家进行评审，请先取消之前选择的专家。");
					return;
				}

				$.getJSON(url).done(function(json) {
					if (json.result == "ok") {
						selected_expert_row.toggleClass('selected-row');
						var expnr = expertTable.$('tr.selected-row').length;
						queryTable.$('tr.selected-row').find('td:eq(3)').text(expnr + '/3');
					} else {
						alert("错误请求，请刷新页面重试。");
					}
				}).error(function() { alert("发生未知错误，请求刷新页面重试，如果问题仍然存在，请联系系统管理员"); });
			});
		}
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利评价包提交</h2>
			<p id="page-intro">为专利指定评审专家，并提交专利评价包，同时并向评审专家发送通知邮件</p>

			<span class="btn btn-info" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-backward"></i>
				<span>返回列表</span>
			</span>
			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-submit" patpkg.pk %}'" style="margin-bottom:18px;">
				<i class="glyphicon glyphicon-ok"></i>
				<span>提交专利包</span>
			</span>

			<div class="clear"></div>

            {% include 'common/notifymsg.html' %}

			<div class="content-box closed-box">
				<div class="content-box-header">
					<h3>通知邮件模板</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content{% if not extmode %} default-tab{% endif %}" id="tab1" >
						<form>
						<fieldset>
						<textarea class="text-area" cols="40" id="id_content" name="content" rows="20"></textarea>
						</fieldset>
						</form>
					</div>
				</div>
			</div>

            <div class="content-box">
				<div class="content-box-header">
					<h3>专利列表</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1" >
						<table id="patent_package_list" class="datatable">
							<thead>
							<tr>
								<th>序号</th>
								<th width="30%">专利名称</th>
								<th>所属部门</th>
                                <th>专利状态</th>
                                <th>专利编号</th>
                                <th>评价材料</th>
                                <th>说明材料</th>
								<th>评审专家</th>
                                <th>操作</th>
							</tr>
							</thead>
                            <tbody>
                            {% for report in report_list %}
                            <tr id="{{ report.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ report.patent.name }}</td>
                                <td>{{ report.patent.department }}</td>
                                <td>{{ report.patent.state }}</td>
                                <td>{{ report.patent.apply_code }}</td>
                                <td>----</td>
                                <td>----</td>
                                <td>{{ report.count }}</td>
                                <td><a href="{% url 'patent-edit' report.patent.pk %}">修改</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="content-box column-left">
				<div class="content-box-header">
					<h3>专利信息</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
                    <form>
                    <fieldset>
						<p>
                            <label>说明文件：<a id="patent-file-url" href="#">查看</a>&nbsp;<input type="file" /></label>
                            <label>专利简介：</label>
                            <textarea id="patent-summary" class="input-large" rows="10"></textarea>
                        </p>
                        <p style="text-align: right; padding-right: 10px;"><input class="button" type="submit" value="保存" /></p>
                    </fieldset>
                    </form>
				</div>
			</div>

			<div class="content-box column-right">
				<div class="content-box-header">
					<h3>评审专家列表</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab2" >
						<table id="expert_list" class="datatable">
							<thead>
							<tr>
								<th>序号</th>
								<th>所属部门</th>
								<th>姓名</th>
								<th>E-Mail</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>

			<div class="clear"></div>

{% endblock %}

