{% extends "common/mgrbase.html" %}
{% load staticfiles %}


{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<link rel="stylesheet" href="{% static "progress/style.css" %}" type="text/css" media="screen" />
<style type="text/css">
.expanded-group{
	background: url("{% static "images/minus.jpg" %}") no-repeat scroll left center transparent;
	padding-left: 15px !important
}

.collapsed-group{
	background: url("{% static "images/plus.jpg" %}") no-repeat scroll left center transparent;
	padding-left: 15px !important
}

tr:hover td {
    background-color:#e0e0e0;
}

td.group {
    background-color: #d5eafd !important;
    border-bottom: 1px solid #94bafd;
    border-top: 1px solid #94bafd;
}

</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.jeditable.mini.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.rowGrouping.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	var queryTable = $('#patent_package_detail').dataTable({
		"bSort": false,
        "bLengthChange": false,
        "bPaginate": false,
		"bFilter": false,
		"oLanguage": oLanguage
	}).rowGrouping({
		iGroupingColumnIndex:0,
		bExpandableGrouping: true,
        bExpandSingleGroup: false,
		asExpandedGroups: [""]
	});;
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利评价包详情</h2>
			<p id="page-intro">查看专利评价包信息详情</p>

			<span class="btn btn-info" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-backward"></i>
				<span>返回列表</span>
			</span>
			{% if patpkg.finish_date %}
			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-download"></i>
				<span>导出专利包</span>
			</span>
			{% else %}
			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-ok"></i>
				<span>完成专利包</span>
			</span>
			{% endif %}

			<div class="clear"></div>

			{% include 'common/notifymsg.html' %}

			<div class="content-box column-left">
				<div class="content-box-header">
					<h3>专利评价包信息</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1" >
						<fieldset>
							<p>名称：{{ patpkg.name }}</p>
						</fieldset>
						<fieldset class="column-left">
							<p>专利数：{{ patpkg.patent_count }}</p>
						</fieldset>
						<fieldset class="column-right">
							<p>专家评分数：{{ patpkg.rating_total }}</p>
						</fieldset>
						<fieldset class="column-left">
							<p>提交时间：{{ patpkg.submit_date }}</p>
						</fieldset>
						<fieldset class="column-right">
							<p>完成时间：{% if patpkg.finish_date %}{{patpkg.finish_date}}{% else %}进行中{% endif %}</p>
						</fieldset>
						<fieldset>
							<p>专家评分完成度：
								<div class="progress">
									<span class="green" style="width: {{ patpkg.rating_percent }}%;"><span>{{ patpkg.rating_finish }}/{{ patpkg.rating_total }}</span></span>
    							</div>
							</p>
							<p>评级报告完成度：
								<div class="progress">
									<span class="blue" style="width: {{ patpkg.report_percent }}%;"><span>{{ patpkg.report_finish }}/{{ patpkg.report_total }}</span></span>
    							</div>
							</p>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="content-box column-right">
				<div class="content-box-header">
					<h3>专家列表</h3>
					<div class="clear"></div>
				</div>
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1" >
						<fieldset>
							<table id="expert_list" class="datatable">
								<thead>
								<tr>
									<th>专家姓名</th>
									<th>单位</th>
									<th>联系电话</th>
									<th>E-Mail</th>
								</tr>
								<tbody>
								{% for expert in patpkg.expert_list %}
								<tr>
									<td>{{ expert.last_name }}{{ expert.first_name }}</td>
									<td>{{ expert.expertprofile.organization }}</td>
									<td>{{ expert.expertprofile.phone }}</td>
									<td>{{ expert.email }}</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专利列表</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">

					<div class="tab-content{% if not extmode %} default-tab{% endif %}" id="tab1" >

						<table id="patent_package_detail" class="datatable">
							<thead>
							<tr>
								<th width="0">专利名称</th>
								<th width="15%">评审专家</th>
								<th width="10%">状态</th>
								<th width="10%">专利评分</th>
								<th width="35%">专利评价</th>
								<th width="10%">提交时间</th>
								<th width="10%">操作</th>
							</tr>
							</thead>
							<tbody>
							{% for o in rating_list %}
							<tr>
								<td>
									&nbsp;({{ o.report.rating_finish }}/{{ o.report.rating_total }})&nbsp;&nbsp;{{ o.report.patent.name }}
									<span style="float:right;"><a onclick="window.location.href='{% url 'patent-report-detail' pkgpk=o.report.package.pk pk=o.report.pk %}';" href="#">
                                        {% if o.report.finish_date %}
                                            查看
                                        {% else %}
                                            {% ifnotequal o.report.rating_finish 0 %}
                                            撰写评级报告
                                            {% endifnotequal %}
                                        {% endif %}
                                    </a></span>
								</td>
								<td>{{ o.expert.last_name }}{{ o.expert.first_name}}</td>
								<td>{% if o.submit_date %}{% ifequal o.ratings "-1" %}已拒绝{% else %}已完成{% endifequal %}{% else %}进行中{% endif %}</td>
								<td>{% if o.submit_date %}{% ifequal o.ratings "-1" %}----{% else %}{{ o.ratings | floatformat:"1" }}{% endifequal %}{% else %}----{% endif %}</td>
								<td>{% if o.remark %}{{ o.remark }}{% else %}----{% endif %}</td>
								<td>{% if o.submit_date %}{{ o.submit_date }}{% else %}----{% endif %}</td>
								<td>
									{% if not o.submit_date %}<a href="{% url 'patent-package-detail' o.pk %}" title="更换专家"><img src="/resources/images/icons/hammer_screwdriver.png" alt="更换专家" />更换专家</a>{% endif %}
									{% ifequal o.rank -1 %} <a href="{% url 'patent-package-detail' o.pk %}" title="更换专家"><img src="/resources/images/icons/hammer_screwdriver.png" alt="更换专家" />更换专家</a>{% endifequal %}
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>

						<br />
						<div class="clear"></div>

					</div>
				</div>
			</div>
						
{% endblock %}

