{% extends "common/mgrbase.html" %}
{% load staticfiles %}


{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<style type="text/css">
tr:hover td {
    background-color:#e0e0e0;
}
</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.jeditable.mini.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.rowGrouping.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	var selectedTable = $('#patent_list_selected').dataTable({
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "DT_RowId",		"sWidth": "10%" },
			{ "mData": "name", 			"sWidth": "40%" },
			{ "mData": "department",	"sWidth": "30%" },
			{ "mData": "apply_date",	"sWidth": "20%" }
		],
		"fnCreatedRow": function(nRow, aData, iDataIndex) {
			$(nRow).click( function() {
				id = $(this).attr("id");
				queryTable.find('tr[id="' + id + '"]').removeClass("selected-row");
				selectedTable.fnDeleteRow(nRow);
				selectedTable.draw();
			});
		}
	});

	var queryTable = $('#patent_list_all').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url "patent-list-json" %}",
		"bSort": false,
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		// Column Design
		"bAutoWidth": false,
		"aoColumns": [
			{ "mData": "DT_RowId",		"sWidth": "10%" },
			{ "mData": "name", 			"sWidth": "40%" },
			{ "mData": "department",	"sWidth": "30%" },
			{ "mData": "apply_date",	"sWidth": "20%" }
		],
        // set click handler for each row
        "fnDrawCallback": function () {
            $(this).find("tr").not(':first').click( function() {
				var id = $(this).attr('id');
				if ($(this).hasClass('selected-row')) {
					selectedTable.fnDeleteRow(selectedTable.$('tr[id="' + id + '"]').get(0));
				}
				else {
					selectedTable.fnAddData({
						"name":			$(this).find("td:eq(1)").text(),
						"department":	$(this).find("td:eq(2)").text(),
						"apply_date":	$(this).find("td:eq(3)").text(),
						"pk":			id,
						"DT_RowId":		id
					});
				}
				$(this).toggleClass('selected-row');
            });
        },
		"fnCreatedRow": function(nRow, aData, iDataIndex) {
			if (selectedTable.$('tr[id="' + aData["DT_RowId"] + '"]').length > 0) {
				$(nRow).addClass('selected-row');
			}
		}
	});

	// Submit Form
	$("#submit").click(function() { $("#pkgform").submit(); });
	$("#pkgform").submit(function(event) {
		if ($("#{{ form.name.auto_id }}").val() == "") {
			alert("专利包名称不能为空");
			preventDefault(); 
		}
		if (selectedTable.$('tr').length <= 0) {
			alert("请选择加入到该专利包中的专利");
			preventDefault(); 
		}
		var lst = "";
		selectedTable.$('tr').each(function() {
			lst += $(this).attr("id") + "&";
		});
		$("#{{ form.selected_patent_list.auto_id }}").val(lst);
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>新建专利评价包</h2>
			<p id="page-intro">创建专利评价包，并选择要评价的专利</p>

			{% include 'common/notifymsg.html' %}

			<span id="submit" class="btn btn-success" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-ok"></i>
				<span>创建专利包</span>
			</span>
			<span class="btn btn-info" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-remove"></i>
				<span>取消</span>
			</span>

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专利评价包信息</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab1" >
						<form id="pkgform" method="post">
							{% csrf_token %}
							{{ form.selected_patent_list }}
							<fieldset>
								<p>
									<label>
										{{ form.name.label}}*
										{% if form.name.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.name.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.name }}
								</p>
							</fieldset>

							<fieldset>
								评分权重
							</fieldset>
<!--
							<fieldset style="text-align:right; padding-right:30px;">
								<span id="submit" class="btn btn-success" style="margin-bottom:18px;"> 
									<i class="glyphicon glyphicon-ok"></i>
									<span>创建专利包</span>
								</span>
								<span class="btn btn-info" onclick="window.location.href='{% url "patent-package-list" %}'" style="margin-bottom:18px;"> 
									<i class="glyphicon glyphicon-remove"></i>
									<span>取消</span>
								</span>
							</fieldset>
-->
						</form>
					</div>
				</div>

			</div>


			<div class="content-box column-left">
				<div class="content-box-header">
					<h3>所有专利</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab_all" >
						<table id="patent_list_all" class="datatable">
							<thead>
							<tr>
								<th>序号</th>
								<th>专利名称</th>
								<th>所属部门</th>
								<th>申请时间</th>
							</tr>
							</thead>
						</table>
						<div class="clear"></div>
					</div>
				</div>
			</div>

			<div class="content-box column-right">
				<div class="content-box-header">
					<h3>专利包</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab_selected" >
						{% if form.selected_patent_list.errors %}
						<span class="input-notification error png_bg">
							{% for error in form.selected_patent_list.errors %}
							{{ error }}
							{% endfor %}
						</span>
						{% endif %}
						<table id="patent_list_selected" class="datatable">
							<thead>
							<tr>
								<th>序号</th>
								<th>专利名称</th>
								<th>所属部门</th>
								<th>申请时间</th>
							</tr>
							</thead>
						</table>
						<div class="clear"></div>
					</div>
				</div>
			</div>
						
{% endblock %}

