{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<style type="text/css">
tr:hover td { background-color:#e0e0e0; }
</style>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('#patent-package-list').dataTable({
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage,
		"bAutoWidth": false
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利评价包</h2>
			<p id="page-intro">专利评价包列表，检查未完成评价包状态，并导出已完成评价包的数据</p>

			<span class="btn btn-success" onclick="window.location.href='{% url "patent-package-wizard" %}'" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-plus"></i>
				<span>添加专利包</span>
			</span>

			{% include 'common/notifymsg.html' %}

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专利评价包列表</h3>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1">

						<table id="patent-package-list" class="datatable">
							<thead>
							<tr>
								<th>序号</th>
								<th>评价包名称</th>
								<th>专利数</th>
								<th>提交时间</th>
								<th>完成时间</th>
								<th>状态</th>
								<th width="15%">操作</th>
							</tr>
							</thead>
							<tbody>
							{% for package,info in package_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if package.submit_date %}<a href="{% url 'patent-package-detail' package.pk %}">{{ package.name }}</a>
									{% else %}<a href="{% url 'patent-package-edit' package.pk %}">{{ package.name }}</a>{% endif %}
								</td>
								<td>{{ info.count }}</td>
								<td>{% if package.submit_date %}{{ package.submit_date }}{% else %}{{ "----" }}{% endif %}</td>
								<td>{% if package.finish_date %}{{ package.finish_date }}{% else %}{{ "----" }}{% endif %}</td>
								<td>
									{% if package.finish_date %}已完成{% else %}
									{% if not package.submit_date %}等待提交{% else %}
 									专家评分：{{ info.rating_finish }}/{{ info.rating_total }}，评级报告：{{ info.report_finish }}/{{ info.report_total }}
									{% endif %} {% endif %}
								</td>
								<td>
									{% if package.submit_date %}
									<a href="{% url 'patent-package-detail' package.pk %}" title="查看"><img src="/resources/images/icons/pencil.png" />查看</a>&nbsp;&nbsp;
									<a href="{% url 'patent-package-detail' package.pk%}" title="导出"><img src="/resources/images/icons/hammer_screwdriver.png" />导出</a>
									{% endif %}
									{% if not package.submit_date %}
									<a href="{% url 'patent-package-edit' package.pk %}" title="编辑"><img src="/resources/images/icons/pencil.png" />编辑</a>&nbsp;&nbsp;
									{% endif %}
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>

						<div class="clear"></div>
					
					</div>
					
				</div>
				
			</div>
{% endblock %}

