{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link href='{% static "css/jquery.rating.css" %}' type="text/css" rel="stylesheet"/>
<link rel="stylesheet" href="{% static "css/bootstrap.btn.css" %}">
<link rel="stylesheet" href="{% static "jquery.raty/jquery.raty.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "jquery.powerFloat/css/powerFloat.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.rating.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.raty/jquery.raty.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.powerFloat/js/jquery-powerFloat.js" %}"></script>
<script type="text/javascript">
function update_summary() {
	var total = 0;
	var ratings = '';
	$('.rating_detail_raty').each(function() {
		if (ratings != '')
			ratings += ',';

        var this_rate = 0;
		if ($(this).raty('score'))
			this_rate = $(this).raty('score') * 2;

		total += this_rate * $(this).attr('weight');
		ratings += this_rate;
	});
	$('#rating_summary').text(total.toFixed(1));
	$('#rating_summary_raty').raty('readOnly', false);
	$('#rating_summary_raty').raty('score', total/2);
	$('#rating_summary_raty').raty('readOnly', true);
	$('#id_{{ form.ratings.name }}').attr('value', ratings);
}

$(document).ready(function() {
	// 初始化按钮动作
    $('#return').click(function() { window.location.href = $("input[name=__next__]").val(); });
    {% if not rating.submit_date %}
    $('#submit').click(function() {
        // 检查是否所有项目都已经给分
        rating_all_check = true;
        $('.rating_detail_raty').each(function() {
            if (!$(this).raty('score'))
                rating_all_check = false;
        });
        if (!rating_all_check) {
            alert('有项目没有打分');
            return;
        }

        var word_match = $('#{{ form.remark.auto_id }}').val() //.match(/[\u4e00-\u9fa5]/g);
        if (!word_match || word_match.length < 50) {
			alert('专利评价至少要包含50个字符');
			return;
		}
		$("#{{ form.action.auto_id }}").val($(this).attr('id'));
		$("form:first").submit();
	});
    $('#save').click(function() {
        $("#{{ form.action.auto_id }}").val($(this).attr('id'));
		$("form:first").submit();
	});
	$('#reject').click(function() { alert("该操作无法撤销，请确认是否要拒绝评价该专利"); return false; });
    {% endif %}



	// Rating Stars
	$.fn.raty.defaults.path = '{% static "jquery.raty/images" %}';

	$('.history_rating_raty').raty({
		half: true,
		number: 5,
		score: function() { return $(this).attr('rating'); },
		readOnly: true
	});

	$('#rating_summary_raty').raty({
		half: true,
		number: 5,
		round : { down: 0, full: 1, up: 1 },
		readOnly: true
	});
	$('.rating_detail_raty').raty({
		half: true,
		number: 5,
		score: function() { return $(this).attr('rating')/2; },
        {% if rating.submit_date %}
		readOnly: true,
        {% endif %}
		click: function(score, evt) { update_summary(); }
	});
	update_summary();

	$('.rating_detail_raty').powerFloat({
		eventType: "hover",
		targetMode: "remind"
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>专利等级评定</h2>
			<p id="page-intro">为专利评级，并填写专利意见</p>

			<span id="return" class="btn btn-info" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-backward"></i>
				<span>返回列表</span>
			</span>
            {% if not rating.submit_date %}
			<span id="submit" class="btn btn-success submit" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-ok"></i>
				<span>提交评价</span>
			</span>
			<span id="save" class="btn btn-warning submit" style="margin-bottom:18px;"> 
				<i class="glyphicon glyphicon-save"></i>
				<span>保存草稿</span>
			</span>
			<span id="reject" class="btn btn-danger submit" style="margin-bottom:18px; float:right; display:none;"> 
				<i class="glyphicon glyphicon-remove"></i>
				<span>拒绝</span>
			</span>
            {%  endif %}

			{% include 'common/notifymsg.html' %}

			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>专利信息</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab1" class="default-tab">专利信息</a></li>
						{% if rankfile_exist %}<li><a href="#tab2">评价材料</a></li>{% endif %}
						{% if specfile_exist %}<li><a href="#tab3">说明材料</a></li>{% endif %}
					</ul>
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->


				<form method="post">

					{% csrf_token %}

					{{ form.action }}
					<input type="hidden" name="__next__" value="{{ i__next__ }}">
				
					<div class="content-box-content">

						<div class="tab-content{% if not extmode %} default-tab{% endif %}" id="tab1" >
							<fieldset class="column-left-quarter">
								<p><b>专利名称：</b>{{ patent.name }}</p>
								<p><b>专利状态：</b>{{ patent.state }}</p>
								<p><b>专利类型：</b>{{ patent.type }}</p>
								<p>
									{% if not patent.apply_file and not patent.authorize_file %}
									<label>暂无相关证书</label>
									{% else %}
									<label>
										查看证书：
										{% if patent.apply_file %}
										<a target="_blank" href="{% url 'patent-file-service' patent.apply_code %}">申请证书</a>
										&nbsp;&nbsp;&nbsp;&nbsp;
										{% endif %}
										{% if patent.authorize_file %}
										<a target="_blank" href="{% url 'patent-file-service' patent.authorize_code %}">授权证书</a>
										{% endif %}
									</label>
									{% endif %}
								</p>
								{% if history_rating %}
								<p><b>历史评价：</b></p>
								<div style="padding-left:10px">
								{% for o in history_rating %}
                                    <p>
                                    <span>({{ o.finish_date }})</span>
                                    <span style="float:right;" class="history_rating_raty" rating="{{ o.rank }}" readonly="true" />
                                    </p>

                                    <p>
									{% if o.report %}{{ o.report }}{% else %}<i>无评价内容</i>{% endif %}</span>
                                    </p>

								{% endfor %}
								</div>
								{% else %}
								<p><b>暂无历史评价</b></p>
								{% endif %}
							</fieldset>

							<fieldset class="column-right-3quarter">

								{{ form.patent }} {{ form.expert }} {{ form.ratings }}

								<h4>综合分 <span style="font-size:24px;">(<span id="rating_summary">5.3</span>)</span>&nbsp;&nbsp;<span id="rating_summary_raty" /></h4><hr/><br/>
								
								<fieldset class="column-left" style="width:40%">
								<fieldset>
									<label>法律价值</label>
									<div style="text-align:right; width:200px;">
										<p>依赖性<span style="padding-left:10px;" class="rating_detail_raty" rating="{{ ratings.0 }}" weight="{{ weights.0 }}" rel="<p><b>法律价值->依赖性</b><br/><b>说明：</b>一项专利的实施是否依赖于现有授权专利的许可，以及本专利<br/>是否作为后续申请专利的基础</p><table style='width:400px; text-align:center;'><tr><td width='20%'>1-2</td><td width='20%'>3-4</td><td width='20%'>5-6</td><td width='20%'>7-8</td><td width='20%'>9-10</td></tr><tr><td>是</td><td></td><td>不好判断</td><td></td><td>否</td></tr></table><br/>" /></p>

										<p>侵权可判定性<span style="padding-left:10px;" class="rating_detail_raty" rating="{{ ratings.1 }}" weight="{{ weights.1 }}" rel="<p><b>法律价值->侵权可判定性</b><br/><b>说明：</b>基于一项专利的权利要求，是否容易发现和判断侵权行为的发生，是<br/>否容易取证，进而行使诉讼的权利</p><table style='width:400px; text-align:center;'><tr><td width='20%'>1-2</td><td width='20%'>3-4</td><td width='20%'>5-6</td><td width='20%'>7-8</td><td width='20%'>9-10</td></tr><tr><td>非常难于判定</td><td>比较难于判定</td><td>难以确定</td><td>比较易于判定</td><td>非常易于判定</td></tr></table><br/>" /></p>
									</div>
									<br/>
								</fieldset>
								<fieldset>
									<label>技术价值</label>
									<div style="text-align:right; width:200px;">
										<p>先进性<span style="padding-left:10px;" class="rating_detail_raty" rating="{{ ratings.2 }}" weight="{{ weights.2 }}" rel="<p><b>技术价值->先进性</b><br/><b>说明：</b>专利技术在当前进行评估的时间点上与本领域的其他技术相比是否<br/>处于领先地位</p><table style='width:400px; text-align:center;'><tr><td width='20%'>1-2</td><td width='20%'>3-4</td><td width='20%'>5-6</td><td width='20%'>7-8</td><td width='20%'>9-10</td></tr><tr><td>非常落后</td><td>落后</td><td>一般</td><td>先进</td><td>非常先进</td></tr></table><br/>" /></p>
									</div>
									<br/>
								</fieldset>
								</fieldset>
								<fieldset class="column-right" style="width:55%">
									<label>经济价值</label>
									<div style="text-align:right; width:290px;">
										<p>市场规模前景<span style="padding-left:10px;" class="rating_detail_raty" rating="{{ ratings.3 }}" weight="{{ weights.3 }}" rel="<p><b>经济价值->市场规模前景</b><br/><b>说明：</b>专利技术经过充分的市场推广后，在未来其对应专利产品或工艺总共<br/>有可能实现的销售收益</p><table style='width:400px; text-align:center;'><tr><td width='20%'>1-2</td><td width='20%'>3-4</td><td width='20%'>5-6</td><td width='20%'>7-8</td><td width='20%'>9-10</td></tr><tr><td>很小<br/>1千万以下</td><td>较小<br/>1千万-1亿</td><td>中等<br/>1亿-10亿</td><td>较大<br/>10亿-100亿</td><td>很大<br/>100亿以上</td></tr></table><br/>" /></p>
										<p>政策适应性（与标准相关性）<span style="padding-left:10px;" class="rating_detail_raty" rating="{{ ratings.4 }}" weight="{{ weights.4 }}" rel="<p><b>经济价值->政策适应性（与标准相关性）</b><br/><b>说明：</b>国家与地方政策对应用一项专利技术的相关规定，包括专利技术是否<br/>是政策所鼓励和扶持的技术，是否在政策有各种优惠政策</p><table style='width:400px; text-align:center;'><tr><td width='20%'>1-2</td><td width='20%'>3-4</td><td width='20%'>5-6</td><td width='20%'>7-8</td><td width='20%'>9-10</td></tr><tr><td>与政策导向不一致</td><td></td><td>无明确要求</td><td></td><td>政策鼓励</td></tr></table><br/>" /></p>
									</div>
									<br/>
								</fieldset>
								<div class="clear" />
<!--
								<fieldset class="column-right" style="width:400px; padding-left:10px; padding-right:10px; float:left; border:solid 1px; ">
									<p>
									<b>法律价值->依赖性</b><br/>
									<b>说明：</b>一项专利的实施是否依赖于现有授权专利的许可，以及本专利是否作为后续申请专利的基础</p>
									<table style="width:400px; text-align:center;">
										<tr><td width="20%">1-2</td><td width="20%">3-4</td><td width="20%">5-6</td><td width="20%">7-8</td><td width="20%">9-10</td></tr>
										<tr><td>是</td><td></td><td>不好判断</td><td></td><td>否</td></tr>
									</table>
									<br/>
								</fieldset>
-->
								
								<fieldset>
									<label>
										<h4>{{ form.remark.label }}*</h4>
										<small>意见内容不能少于50个字符</small>
										{% if form.remark.errors %}
										<span class="input-notification error png_bg">
											{% for error in form.remark.errors %}
											{{ error }}
											{% endfor %}
										</span>
										{% endif %}
									</label>
									{{ form.remark }}
								</fieldset>
							</fieldset>
							<div class="clear"></div>
						</div>

						<div class="tab-content" id="tab2" >
							<iframe id="viewer" src = "/resources/Viewer.js/index.html#{% url 'patent-rank-file-service' patent.apply_code patent.apply_code %}" width='100%' height='800' allowfullscreen webkitallowfullscreen></iframe>
						</div>

						<div class="tab-content" id="tab3" >
							<iframe id="viewer" src = "/resources/Viewer.js/index.html#{% url 'patent-spec-file-service' patent.apply_code patent.apply_code %}" width='100%' height='800' allowfullscreen webkitallowfullscreen></iframe>
						</div>
					</div>
				</div>
			</form>

						
{% endblock %}

