{% extends "common/mgrbase.html" %}
{% load staticfiles %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "jquery.raty/jquery.raty.css" %}" type="text/css" media="screen" />
<style type="text/css"> tr:hover td { background-color:#e0e0e0; } </style>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "scripts/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/simpla.dataTables.configuration.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.raty/jquery.raty.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#pending-list').dataTable({
		"bSort": false,
		"sPaginationType": "full_numbers",
		"oLanguage": oLanguage
	});
	$.fn.raty.defaults.path = '{% static "jquery.raty/images" %}';
	$('.rating_list_raty').raty({
		readOnly: true,
		half: true,
		number: 5,
		score: function() { return $(this).attr('rating')/2; }
	});
});
</script>
{% endblock %}

{% block main_content %}
			
			<!-- Page Head -->
			<h2>待评价专利管理</h2>
			<p id="page-intro">选择专利进行评价</p>

			<div class="content-box">
				
				<div class="content-box-header">
					<h3>专利列表</h3>
					<ul class="content-box-tabs">
						<li><a href="#tab_pending" class="default-tab">待评价</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				
				<div class="content-box-content">
					<div class="tab-content default-tab" id="tab_pending">
						{% include "common/notifymsg.html" %}
						<table id="pending-list" class="datatable">
							<thead>
							<tr>
								<th>编号</th>
								<th width="30%">专利名称</th>
								<th>申请评价时间</th>
								<th>历史评级</th>
								<th>我的评价</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							{% for rating in rating_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ rating.report.patent.name }}</td>
								<td>{{ rating.report.package.submit_date }}</td>
								<td>{% if rating.current_rating %}<div id='raty' class="rating_list_raty" rating="{{ rating.current_rating }}" />{% else %}----{% endif %}</td>
								<td>{% if rating.my_rating %}<div id='raty' class="rating_list_raty" rating="{{ rating.my_rating }}" />{% else %}----{% endif %}</td>
								<td>
									<a href="{% url 'patent-rating-detail' rating.pk %}" title="评价">
										<img src="{% static "images/icons/hammer_screwdriver.png" %}"/>评价
									</a>
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
						<div class="clear"></div>
					</div>
				</div>
			</div>
{% endblock %}

