<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href=".">

<title>知识产权管理系统</title>
<link rel="shortcut icon" href="{% static "images/patent-logo.png" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" media="screen">
	<script type="text/javascript">
	function check() {
                return true;
		$("#{{ form.username.auto_id }}").val($.trim($("#{{ form.username.auto_id }}").val()));
		var name=$("#{{ form.username.auto_id }}").val();
		alert (name);
		if ( name== "") 
		{
			 $("#fromerror").html("请输入用户名");
			 return false;
		}

		if ( $("#{{ form.password.auto_id }}").val()== "") 
		{
			 $("#fromerror").html("请输入密码");
			 return false;
		}
		
		return true;	
	}
	</script>
</head>
<body id="splash">

	<div class="container">
		<div class="row large-rounded">
			<div class="login ">
				<div class="modal-header" align="center">
					<h3>知识产权管理系统</h3>
				</div>

				<form action="{% url 'django.contrib.auth.views.login' %}" method="POST" onsubmit="return check();">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}" />

					<div class="modal-body clearfix">

						<fieldset>

							{% if form.errors %}
							<div class="alert alert-message alert-error" style="">
								<ul class="errorlist">
									<li>密码错误或用户不存在，请联系POA管理员！<span id="fromerror"   ></span></li>
								</ul>
							</div>
							{% endif %}

							

							<div class="control-group form-field clearfix ">
								<label for="{{ form.username.auto_id }}">用户名</label>
								<div class="input">
									{{ form.username }}
								</div>
							</div>

							<div class="control-group form-field clearfix ">
								<label for="{{ form.password.auto_id }}">密码</label>
								<div class="input">
									{{ form.password }}
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary pull-right">登入</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body></html>
